@import "slick";

/**************************************** MEDIA QUERIES ***********************************************/

@mixin desktop() {
  @media (max-width:1025px) {
    @content
  }
}

@mixin tablet() {
  @media (min-width:600px) and (max-width:1024px){
    @content
  }
}

@mixin phone() {
  @media (max-width:600px) {
    @content
  }
}





body {
  margin:0;
  font-family: 'Playfair Display SC', serif;

  .wrap {
    width: 85%;
    height: 100%;
    margin: 0 auto;
    h2 {
      text-align: center;
      margin-top:40px;
    }
  }



  ul {
    list-style: none;
    padding-left: 0;
  }
}
header {
  background: url("../img/header-bg.jpg") no-repeat;
  background-size: cover;
  text-align: center;
  height: 100%;
  h1 {
    color: #ffffff;
    font-family: 'Playfair Display SC', serif;
    font-size: 35px;
    letter-spacing: 5px;
    margin: 60px auto;
    line-height: 60px;
    @include phone() {
      font-size: 25px;
    }
  }

  span {
    border-top: 2px solid #ffffff;
  }

  .logo {
    width: 300px;
    margin-top: 60px;
    @include phone() {
      width: 200px;
    }
  }
}

.portfolio-section {
  @include phone() {
    height:80% !important;
  }
}


.skills {
  text-align: center;
  padding-top: 15px;
}

.widgetHTML,
.widgetCSS,
.widgetWP,
.widgetJS,
.widgetPHP{
  text-align: left;
  overflow: hidden;
  width: 280px;
  height: 210px;
  display: inline-block;
  position: relative;
  @include phone() {
    width: 134px;
    height: 112px;
    margin: 10px 0;
  }
  @include tablet() {
    width: 166px;
    height: 145px;
    margin: 10px 0;
  }

  canvas, .labels {
    position: absolute;
    text-align: center;
    width: 280px;
    height: 210px;
    @include phone() {
      width: 153px;
      height: 111px;
    }
    @include tablet() {
      width: 187px;
      height: 143px;
    }
  }

  .labels {
    color: #999999;
    padding-top: 40px;
    font-weight: 100;
    @include phone() {
      padding-top: 0;
    }
    @include tablet() {
      padding-top: 20px;
    }

    h3 {
      font-weight: 100;
      font-size: 35px;
      color: #000000;
      margin-bottom: 0;
      margin-top: 20px;
      @include phone() {
        font-size: 28px;
      }
      @include tablet() {
        font-size: 28px;
      }
    }

    span {
      font-size: 19px;
      @include phone() {
        font-size: 14px;
      }
      @include tablet() {
        font-size: 14px;
      }
    }
  }
}

section.section.madskillz {
  height: 70%;
}



.portfolio {
  text-align: center;
  position: relative;
    li {
      display: inline-block;
      width: 21%;
      margin-top: 55px;
      margin-left: 20px;
      margin-right: 20px;
      position: relative;
      background-color: #ffffff;
      transition: all  0.5s ease-in-out;
      -moz-transition: all  0.5s ease-in-out;
      -webkit-transition: all  0.5s ease-in-out;
      &:hover {
        transform: translate3d(0px, -30px, 0px);
      }
      @include phone() {
       width: 49%;
        &:hover {
          transform: translate3d(0px, 0px, 0px);
        }
      }
      img {
        width: 200px;
        height: 200px;

        margin: 0 auto;
        opacity: 0.5;
        transition: all  0.5s ease-in-out;
        -moz-transition: all  0.5s ease-in-out;
        -webkit-transition: all  0.5s ease-in-out;

        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        &:hover {
          opacity: 1;
          -webkit-filter: none;
          filter: none;
        }
        @include phone() {
          height: 165px;
          opacity: 1;
          -webkit-filter: none;
          filter: none;
        }
      }
    }

  .slick-list {
    width: 90%;
    margin: 0 auto;
  }

  .slick-arrow  {
    position: absolute;
    top: 55%;
    font-size: 30px;
    color: #000000;
    transition: all  0.2s ease-in-out;
    -moz-transition: all  0.2s ease-in-out;
    -webkit-transition: all  0.2s ease-in-out;
    cursor: pointer;
    &:hover {
     opacity: 0.7;
    }
  }

  .fa-chevron-right {
    right: 0;
  }

  .fa-chevron-left {
    left:0;
  }
}







#container {
  margin: 20px;
  width: 200px;
  height: 200px;
  position: relative;
}

.skills {
  list-style: none;
}


footer {
  background: url("../img/footer-bg.jpg") ;
  background-size: cover;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  ul {
    text-align: center;
    li {
      display: inline-block;
      width: 30%;
      margin: 30px auto;

      @include phone() {
        display: block;
        width: 100%;
        margin: 10px auto;
      }
      @include tablet() {
        display: block;
        width: 100%;
        margin: 10px auto;
      }
      a {
        color: #ffffff;
        text-decoration: none;
        position: relative;
        &:last-of-type {
          margin-left: 12%;
        }
      }

      .git {
        &:before {
          content: '\f09b';
          font-family: FontAwesome;
          display: block;
          position: absolute;
          left: -30px;
          font-size: 25px;
        }
      }

      .skype {
        &:before {
          content: '\f17e';
          font-family: FontAwesome;
          display: block;
          position: absolute;
          left: -30px;
          font-size: 25px;
        }
      }

      .mail {
        &:before {
          content: '\f0e0';
          font-family: FontAwesome;
          display: block;
          position: absolute;
          left: -30px;
          font-size: 25px;
        }
      }
    }
  }
}














